.fundo {
	background: #a2a2a2;
}

.priPara {
	font-size: 20px;
	text-align: center;
}

.segPara {
	font-size: 20px;
}

.centro {
	text-align: center;
	
}

.fundoAzul {
	background: #1FaFFF; 
}

.yey {
	font-size: 20px;
}